
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    /* font-family: 'Rubik, sans-serif'; */
}

a,a:hover{
    text-decoration: none;
}


/*============================================ Start Home Style  =================================== */

/* start header */
.top-nav {
    background-color:#fcf1ff;
    padding: 5px 0px;
}
.sign{
    margin-top: 5px;
}
.sign p a {
    color:#000!important;
    /* padding: 10px 0px 0px 0px; */
}
.sign p a i{
   color: #d892ec;
}
.logo img{
    width: 114px;
    height: 36px;
    /* transform: scale(.5); */
}


/**************************** start  slider  **************/

.slider .carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat; 

    
}

.slide1{
    
    background-image: url("../images/s1.jpg");
}

.slide2{
        background-image: url("../images/s2.jpg");

}
.slide3{
        background-image: url("../images/s4.jpg");

}


.sliderBtn {
    border:none;
    padding: 10px 30px;
    border-radius:26px;
    background-color: white;
    
    
}
.sliderBtn:hover{
    background-color:#e65540; 
}

.carousel-caption{

    bottom: 30%;
}

.carousel-caption p , .carousel-caption h1{
    color: #000;
}


.carousel-caption h1{
    font-size: 80px;
    /* color: white; */
    text-transform:uppercase;
    margin-bottom: 35px;

}

.carousel-caption h1 span{

    border-bottom: 5px solid #fff;
    padding-bottom: 0px;
    
}

.carousel-caption p{
    font-size:20px; 
}

/**************************** end slider  **************/


/********************** start about section ***************************/

.about-content .note{
    font-size: 16px;
    color: #efa2c1;
    font-style: italic;
    margin-bottom: 0;
    line-height: 27px;
    margin-top: -5px;
}
.about-content h3{
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.text-parag {
    font-family: 'Lato', sans-serif;
    color: #666;
    line-height: 26px;
    text-align: justify;
    font-size: 15px;
}
.about-btn{
    border:none;
    padding: 10px 30px;
    border-radius:35px;
    border:2px solid black;
    color: black;
    transition: background-color .5s;
    background-color:white;
    
}
.about-btn:hover{
    background-color:black;
    
    color: #fff;
   
}


/************************ Start items slider ***********************/

.parent{
    position: relative;
    overflow: hidden;
    /* margin: 30px auto*/;

}
.upBtn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 15px 40px;
}
.upBtn:hover{
    background-color:#e65540;
    color: white;
}
.parent img:hover{
    transform:scale(1.2,1.2);
    transition: all 1s ease-in-out;
}

/************************ End items slider ***********************/

/*************** start our products section ************************/



@keyframes wobble { 
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-25%) rotate(-5deg); } 
    30% { transform: translateX(20%) rotate(3deg); } 
    45% { transform: translateX(-15%) rotate(-3deg); } 
    60% { transform: translateX(10%) rotate(2deg); } 
    75% { transform: translateX(-5%) rotate(-1deg); } 
    100% { transform: translateX(0%); } 
 }
.bell img:hover {
    animation-name: wobble;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
.prod-title{
    font-family: 'Lobster', cursive;
    color: #e33d3d;
    margin-bottom: 40px;
    font-size: 45px;
    letter-spacing: 1.125px;
    text-align: center;

              }


.gallary,.gallary .active {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 30px;
    font-weight: 700;
}

.gallary:hover,
.gallary .active:hover {
    background: rgb(79, 184, 170)!important;
}

.gallary a {
    color: rgb(183, 183, 183);
}

.gallary:hover.nav-item a {
    color: white !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #e84455!important;
}
.gift-imgs{
    position: relative;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.replaced-img{
    position: absolute;
    bottom:100%;
    left: 0;
    transition: all .5s ease-in-out;

    /* opacity: 0;
    visibility: hidden; */
}
.gift-imgs:hover .replaced-img{
       bottom:0
}
.gift-detail {
    text-align: center;
}
.gift-detail a{
    color: #666;
            }

.gift-detail h3{
    font-weight: 400;
    line-height: 1.1;
    margin: 20px 0px;
}
.product-price{
    font-size: 18px;
    font-family: "Lobster",cursive;
    font-weight: 400;
    color: #e33d3d;
}

/******************************* end our products section ************************/


/******************************* Start count down section ************************/
.count-down{
    background-image: url(../images/h1-bg.jpg);
    background-size: 100% 100%;
    color: #f1f1f1;
    font-family: "Lobster",cursive;


}

.counter-content h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
}
.counter-content h2{
    font-size: 55px;
}
/******************************* end count down section ************************/


/********************************* Start testimonial carousel *********************************/
.title{
    position: relative;
    font-weight: 800;
}
.title h2{
      color: #f1f1f1; 
      font-size: 5rem; 
      letter-spacing: 3px;
      
}
.title h3{
       position: absolute;
       letter-spacing: 5px;
       font-size: 2.5rem;
       margin-top: .25rem;
}
#testimonials
{
    font-family: 'Segoe UI light', Tahoma, Verdana, sans-serif;
}

#testimonials .carousel-indicators
{
    position: static;
}
#testimonials .carousel-indicators li
{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}


#testimonials .carousel-item img
{
    width: 85px;
   
}


#testimonials .carousel-item h6
{
    color: #555;
    position: relative;
}
#testimonials .carousel-item h6::after
{

    content: "";
    position: absolute;
    top: 150%;
    left: 47%;
    width:6%;
    height: 2px;
    background-color: #ff206e;
    transition: width 1s , left 1s;
    
}


#testimonials .carousel-item:hover  h6::after
{
    width:10%;
    left: 45%;
}


/********************************** end testimonial carousel ************************************/



/************************************** fancy box  ***********************************/
.gallaryImg{
    overflow: hidden;
    border-radius: 5px;

}
.gallaryImg img{

    transition: transform .5s;
}
.gallaryImg img:hover{
    transform: scale(1.2);
    
}


/********************************** start footer ************************/
footer{
    /* background-image: linear-gradient(to right top, #6b1823, #892535, #a83249, #c8405e, #e94e76); */
   
}
.footer-desc img{
    margin-top: -28px;
}
.footer-desc p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
    padding-right: 40px;
}
.social {
    font-size: 18px;
    color: #666
}

.social i {
    padding-right: 12px;
    transition: transform .5s ease-in-out;
}
.social i:hover{
    transform: scale(1.2);
}

.social i.instagram:hover {
    color: #2C6A93!important;
}

.social i.facebook:hover {
    color: #0056b3!important;
}

.social i.twitter:hover {
    color: #1489ed!important;
}

.social i.whatsapp:hover {
    color: darkgreen!important;
}

.social i.linkedin:hover {
    color: #04669A!important;
}
.footer_title{
    color: #18191c;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 30px;
    font-family: "Lobster",cursive;
}
footer a , footer p{
    color: #999;
    cursor: pointer;
}
footer p {
    margin-top: 20px;
}

.footer-contact h5{
    font-size: 30px;
    line-height: 30px;
    font-family: "Lobster",cursive;
    margin: 20px 0;
    color:#e33d3d;

}

/********* copy right ********/
.copyright {
    position: relative;
    padding: 10px 0px;
    font-size: .875rem;
    color: #666;
    font-weight: 400;
}
.copyright:before {
    content: "";
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 1px;
    display: block!important;
    top: 0;
    background: #eee;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

                    }

    .copyright span{
        color:#e33d3d;

    }





/************************************* end footer ***************************/
@media(max-width:768px){
    .social {
        font-size: 16px;
    }     
    
.footer-contact h5{
    font-size: 22px; 

}



@media(max-width:425px){
        /* title */
    .title h2 {
        font-size: 3rem;
    }

    .title h3 {
        font-size: 1.5rem;
    }
}

@media(max-width:425px)
{
    .counter-content h2 {
        font-size: 35px;
    }

}

@media(max-width:320px)
{
    .counter-content h2 {
        font-size: 30px;
    }
    .counter-content #demo{
        font-size: 16px;
    }
        /* title */
    .title h2 {
        font-size: 2rem;
    }

    .title h3 {
        font-size: 1rem;
    }


}





















